%p.normal
  %label{ :for => "integrity_twitter_notifier_email" } Email Address
  %input.text#integrity_twitter_notifier_email{ :name => "notifiers[IntegrityTwitter][email]", :value => config["email"], :type => "text" }
 
%p.normal
  %label{ :for => "integrity_twitter_notifier_pass" } Password
  %input.text#integrity_twitter_notifier_pass{ :name => "notifiers[IntegrityTwitter][pass]", :value => config["pass"], :type => "text" }
